$Append$

In [3]:
# add sth to the end of documents

list1=[100,200]
list1.append(300)
list1

[100, 200, 300]

In [5]:
list1=[]
list1.append(100)
list1.append(200)
list1.append(300)
list1

[100, 200, 300]

In [6]:
list1.append(100,200)

TypeError: list.append() takes exactly one argument (2 given)

In [7]:
list1.append([100,200])

In [8]:
list1

[100, 200, 300, [100, 200]]

In [9]:
list1.append('apple')

In [10]:
list1

[100, 200, 300, [100, 200], 'apple']

In [73]:
list1 = [1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)
print(output)
output1 = [i*i for i in list1]
print(output1)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [75]:
list2 = ['hyd','bengaluru','dehli']
# output = ['Hyd','Bengaluru','Dehli']
output = []
for i in list2:
    output.append(i.capitalize())
print(output)
output1 = [i.capitalize() for i in list2]
print(output1)

['Hyd', 'Bengaluru', 'Dehli']
['Hyd', 'Bengaluru', 'Dehli']

In [67]:
list3 = ['h#d','beng#luru','delhi']
# output = ['h#d','beng#luru']
output = []
for i in list3:
    if '#' in i:
        print(i)
        output.append(i)
output

h#d
beng#luru

['h#d', 'beng#luru']

$List Comprehension$

In [ ]:
- [ <o/p> <forloop> <if_condition>]

In [87]:
list1 = [1,2,3,4,5]

output1 = [i*i for i in list1]
print(output1)

[1, 4, 9, 16, 25]

In [79]:
list2 = ['hyd','bengaluru','dehli']
output = [i.capitalize() for i in list2]
output

['Hyd', 'Bengaluru', 'Dehli']

In [83]:
# Create a list of 20 nunbers from 1 to 20
output = [i for i in range(1,21)]
print(output)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [86]:
list3 = ['h#d','beng#luru','delhi']
# output = ['h#d','beng#luru']
output = []
for i in list3:
    if '#' in i:
        print(i)
        output.append(i)
output

output1 = [i for i in list3 if '#' in i]
print(output1)

h#d
beng#luru
['h#d', 'beng#luru']

In [91]:
list4 = ['abcd','abc','ac','a']
# elements less than 3
# ['ac','a']
output = []
for i in (list4):
    if len(i)<3:
        print(i)
        output.append(i)
output

ac
a

['ac', 'a']

In [99]:
list4 = ['abcd','abc','ac','a']
# elements less than 3
# ['ac','a']
# Use list comprehension
output = [i for i in list4 if len(i)<3]
print(output)

['ac', 'a']

In [101]:
# if else
list1 = [1,2,3,4,5,6]
for i in list1:
    if i%2 == 0:
        print("even: {}".format(i))
    else:
        print("odd: {}".format(i))

odd: 1
even: 2
odd: 3
even: 4
odd: 5
even: 6

In [102]:
# if else
list1 = [1,2,3,4,5,6]
output = []
for i in list1:
    if i%2 == 0:
        output.append("even: {}".format(i))
    else:
        output.append("odd: {}".format(i))
output

['odd: 1', 'even: 2', 'odd: 3', 'even: 4', 'odd: 5', 'even: 6']

In [ ]:
- [<if_output> <if_condition> else <else_output> <for_loop>]

In [109]:
list1 = [1,2,3,4,5,6]
output = [f"even: {i}" if i%2==0 else f"odd: {i}" for i in list1]
output

['odd: 1', 'even: 2', 'odd: 3', 'even: 4', 'odd: 5', 'even: 6']

$count$

In [110]:
list1 = [1,2,3,'A','B','B','B','C']
list1.count('B')

3

$Extend$

In [121]:
list1 = ['A','B','C']
list2 = [1,2,3]
list1.append(list2)
print(list1)
list1.extend(list2)
print(list1)

['A', 'B', 'C', [1, 2, 3]]
['A', 'B', 'C', [1, 2, 3], 1, 2, 3]

**append** vs **extend** vs **concatenation**

- append will add the element at last, that element can be any type
            - list1 = [1,2,3]
            - list2 = ['A','B']
            - list1.append(list2) = [1,2,3,['A','B']]
- extend will update the list by adding new elements, the results will also be saved in the same list
            - list1 = [1,2,3]
            - list2 = ['A','B']
            - list1.extend(list2) = [1,2,3,'A','B']
- concatenation will add the two list, but the result will not update in same list
            - list1 = [1,2,3]
            - list2 = ['A','B']
            - list1 + list2 = [1,2,3,'A','B']

$iterator$

- iterator word =======> loop
- the elements we can print using for loop
- str = 'python'; we can print each letter using for loop
- list1 = [1,2,3] we can print each element using for loop

In [126]:
a = reversed('python')

In [127]:
for i in a:
    print(i)

n
o
h
t
y
p

In [181]:
list1 = [1,2,3]
list1.extend('python')
list1.append('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

****Iterable mean printing each letter as we can see from extend method****

$pop-remove-del$

In [183]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [184]:
list1.pop()

'python'

In [185]:
list1
list.pop(list1,4)

# in side bracket default argument is index = -1
# -1 means last value
# so if no value is provided it will remove last value

'y'

In [153]:
list2 = [100,200,300,400,500]
list2.remove(100)                 # removes 1st value
list2

[200, 300, 400, 500]

In [154]:
del(list1) #list1 is deleted 
list1

NameError: name 'list1' is not defined

In [155]:
list3 = [100,200,33,444]
del list3[2]
list3

[100, 200, 444]

**pop** vs **remove** vs **del**

In [ ]:
- pop and remove is method while del is keyword
            - list1.pop()
            - list1.remove()
            - del (list1) or del list1[put index]
- if pop() is empty removes last value else it depends on the index u put
- removes() removes the value u put on the method
- del deletes ur desired elements or the whole varaiable

In [234]:
list1 = [100,200,300,400,200,300,100,400,2,4,5,6,8,100,30,2,4,5]
print(list1.index(200))
list1.insert(1,2)
print(list1)
print(list1.index(200))
list1.reverse()
print(list1) 
list1.sort()
print(list1)

1
[100, 2, 200, 300, 400, 200, 300, 100, 400, 2, 4, 5, 6, 8, 100, 30, 2, 4, 5]
2
[5, 4, 2, 30, 100, 8, 6, 5, 4, 2, 400, 100, 300, 200, 400, 300, 200, 2, 100]
[2, 2, 2, 4, 4, 5, 5, 6, 8, 30, 100, 100, 100, 200, 200, 300, 300, 400, 400]

In [244]:
list1 = [100,200,300,400,200,300,100,400,2,4,5,6,8,100,30,2,4,5]
list1.index(2,list1.index(2)+1)

15

$zip$

In [248]:
list1 = ['Ram','Robert','Raheem']
list2 = [25,30,35]

# 'Ram age is 25' and so on

for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

Ram age is 25
Robert age is 30
Raheem age is 35

In [250]:
list1 = [100,200,300]
list2 = [25,30,35]

#output = [125,230,335]
output = [i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]

In [251]:
# take 5 question in list1
# take corresponding 5 answers in another list2
# iterate through list1
# every question should print
# answer = input("tell the answer")
# if it is there: marks = marks + 1
# else: No marks
# how many right answers and wrong answers

In [265]:
import time
list1 = [
    "What is the capital of India?",
    "What is 2 + 2?",
    "Which planet is known as the Red Planet?",
    "Who wrote the Ramayana?",
    "What is the boiling point of water in Celsius?"
]
list2 = [
    "Delhi",
    "4",
    "Mars",
    "Valmiki",
    "100"
]
marks = 0
incorrect = 0
for i in range(len(list1)):
    time.sleep(1.5)
    print(f"Q{i+1}:{list1[i]}")
    time.sleep(2)
    answer = input("Tell answers: ")
    if answer == list2[i]:
        time.sleep(3)
        print("Correct answer")
        marks = marks + 1
    else:
        time.sleep(2)
        print("Incorrect answer")
        incorrect = incorrect + 1
print("Right Answer: {}".format(marks))
print("Incorrect Answer: {}".format(incorrect))

Q1:What is the capital of India?

Tell answers:  deLhi

Incorrect answer
Q2:What is 2 + 2?

Tell answers:  Four

Incorrect answer
Q3:Which planet is known as the Red Planet?

Tell answers:  Mars

Correct answer
Q4:Who wrote the Ramayana?

Tell answers:  valmiki

Incorrect answer
Q5:What is the boiling point of water in Celsius?

Tell answers:  100

Correct answer
Right Answer: 2
Incorrect Answer: 3