In [ ]:
Strings Writeup

Assignment on strigns

In [ ]:
- Read the strings
- type
- max
- min
- len
- in (for loop)
- range
- index
- mutable
- slice
- methods

- Array of elements

In [1]:
list1=[1,2,3,40]
list1

[1, 2, 3, 40]

In [14]:
list2=['A','b','c','D']
list2

['A', 'b', 'c', 'D']

In [3]:
list3=[1,2,3,4,'A','b','C']
list3

[1, 2, 3, 4, 'A', 'b', 'C']

In [6]:
list4=[1,2,'Apple',1+3,8+9]
list4

[1, 2, 'Apple', 4, 17]

In [7]:
list5=[100,100,100]
list5

[100, 100, 100]

In [8]:
list6=[[1,2,3,4]]
list6

[[1, 2, 3, 4]]

- list is an array of elements

- In list elements heterogeneous(different) data types are allowed

- duplicates are allowed

- list in list also works

In [9]:
type(list3)

list

In [11]:
max(list1)

40

In [17]:
max(list2)

'c'

In [25]:
max(list3) # error we cannot compare different data types

TypeError: '>' not supported between instances of 'str' and 'int'

In [26]:
print(max(list1))
print(max(list2))
print(max(list3))

40
c

TypeError: '>' not supported between instances of 'str' and 'int'

In [27]:
print(min(list1))
print(min(list2))
print(min(list3))

1
A

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
print(len(list1))
print(len(list2))
print(len(list3))

4
4
7

In [29]:
print(list1)
print(sum(list1))

[1, 2, 3, 40]
46

In [30]:
print(list2)
print(sum(list2))

['A', 'b', 'c', 'D']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
print(list3)
print(sum(list3))

[1, 2, 3, 4, 'A', 'b', 'C']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
list1

[1, 2, 3, 40]

In [35]:
1 in list1

True

In [38]:
for i in list1:
    print(i)

1
2
3
40

$Concatenation$

In [39]:
list1

[1, 2, 3, 40]

In [40]:
list2

['A', 'b', 'c', 'D']

In [41]:
print(list1+list2)
print(list2+list1)

[1, 2, 3, 40, 'A', 'b', 'c', 'D']
['A', 'b', 'c', 'D', 1, 2, 3, 40]

In [42]:
new_list=list1+list2

In [43]:
new_list

[1, 2, 3, 40, 'A', 'b', 'c', 'D']

In [44]:
list1*3

[1, 2, 3, 40, 1, 2, 3, 40, 1, 2, 3, 40]

In [47]:
list1-list2  # Error
list1*list2  # Error
list1/list2  # Error

# All will come errorr

TypeError: unsupported operand type(s) for -: 'list' and 'list'

$Index$

In [48]:
list3

[1, 2, 3, 4, 'A', 'b', 'C']

In [50]:
list3[0],list3[1],list3[2],list3[3]

# list3[i]
# i=0 1 2 3

(1, 2, 3, 4)

In [58]:
list3[-1]

'''-7 -6 -5 -4 -3 -2 -1
    1  2  3  4  A  b  c
    0  1  2  3  4  5  6 '''

'-7 -6 -5 -4 -3 -2 -1\n    1  2  3  4  A  b  c\n    0  1  2  3  4  5  6 '

In [53]:
for i in range(7):
    print(i,list3[i])

0 1
1 2
2 3
3 4
4 A
5 b
6 C

In [54]:
for i in range(len(list3)):
    print(i,list3[i])

0 1
1 2
2 3
3 4
4 A
5 b
6 C

In [64]:
for i in range(len(list3)):
    print('positive index is: {} and negative index is: {}: for an element {}'.format(i,i-len(list3),list3[i]))

positive index is: 0 and negative index is: -7: for an element 1
positive index is: 1 and negative index is: -6: for an element 2
positive index is: 2 and negative index is: -5: for an element 3
positive index is: 3 and negative index is: -4: for an element 4
positive index is: 4 and negative index is: -3: for an element A
positive index is: 5 and negative index is: -2: for an element b
positive index is: 6 and negative index is: -1: for an element C

In [ ]:
# WAP find the elements which have len<3
# list=['Apple','Ball','Cat','Ab','Cd','Ef']

In [84]:
list9=['Apple','Ball','Cat','Ab','Cd','Ef']
for i in range(len(list9)):
    if (len(list9[i])<3):
        print(list9[i])
print('---------')
for i in list9:
    if (len(i)<3):
        print(i)

Ab
Cd
Ef
---------
Ab
Cd
Ef

In [ ]:
# WAP find the elements having '#'

In [92]:
list10=['App#e','B#ll','C#t','AB','CD','EF']
for i in list10:
    if '#' in i:
        print(i)

App#e
B#ll
C#t

In [94]:
list10=['App#e','B#ll','C#t','AB','CD','EF']
count=0
for i in list10:
    if '#' in i:
        count=count+1
print(count)

3

In [101]:
list11=[1,2,3,['Apple','Ball']]

# retrive the ball using index
print(list11[3])
print(list11[3][1])

['Apple', 'Ball']
Ball

In [111]:
list12=[[[[[[['Cherry']]]]]]]
print(list12[0][0][0][0][0][0][0])

Cherry

In [132]:
list13=[[[['a','b',[[[1,2,3,['Car']]]]]]]]
print(list13[0][0][0][2][0][0][3][0])

Car

$Mutable$

In [136]:
str1='welcome'
str1[2]='L'
str1

TypeError: 'str' object does not support item assignment

In [134]:
list14=['A','B','C']
list14[0]=100
list14

[100, 'B', 'C']

$Slice$

In [138]:
list15=[10,20,30,40,50,'p','y','T','H','O','N','a','b','c','D']
list15[2:14:3]

[30, 'p', 'H', 'a']

In [144]:
list16=[1,2,3,4]
list17=list16.copy()
list17

list16.clear()
print('list16:',list16)
print('list17:',list17)

list16: []
list17: [1, 2, 3, 4]