In [3]:
list1 = ['Ram', 'Raheem', 'Robert']

list2 = [25,30,35]

In [4]:
for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [ ]:
# {"key':value}

In [5]:
{'Ram':25,'Raheem':30,'Robert':35}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [6]:
d1 = {'Ram':25,
      'Raheem':30,
      'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [7]:
d2 = {25:'Ram',
      30:'Raheem',
      35:'Robert'}
d2

{25: 'Ram', 30: 'Raheem', 35: 'Robert'}

In [8]:
d3 = {'even':[2,4,6],
      'odd':[3,5,7]}
d3

{'even': [2, 4, 6], 'odd': [3, 5, 7]}

In [9]:
d4 = {[2,4,6]: 'even',
      [3,5,7]: 'odd'}
d4

TypeError: unhashable type: 'list'

In [11]:
d5 = {(2,4,6): 'even',
      (3,5,7): 'odd'}
d5

{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

In [13]:
d6 = {2,4,6: 'even',
      3,5,7: 'odd'}
d6

SyntaxError: invalid syntax (571394357.py, line 1)

In [15]:
d7 = {'item_list':{'fruiits':'Apple'}}
d7

{'item_list': {'fruiits': 'Apple'}}

In [16]:
d7 = {{'fruiits':'Apple'}:'item_list'}
d7

TypeError: unhashable type: 'dict'

In [19]:
a = [1,2]
b = (1,2)

In [29]:
a,b = [1,2]
c,d=(1,2)
d

2

In [30]:
a=1,2
a

(1, 2)

In [35]:
d1={'a':1,'b':2,'a':1,'b':2}
d1

{'a': 1, 'b': 2}

In [37]:
d1={'a':1,'b':2,'a':2,'b':1}
d1

#step by step lol

{'a': 2, 'b': 1}

In [38]:
type(d1)

dict

In [39]:
d1 = {'Ram':25,
      'Raheem':30,
      'Robert':35}
max(d1)

'Robert'

In [40]:
d2 = {25:'Ram',
      30:'Raheem',
      35:'Robert'}
max(d2)

35

In [43]:
d2 = {25:'Ram',
      30:'Raheem',
      35:'Robert'}
min(d2)

25

In [44]:
len(d1)

3

In [45]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
d0={1:2,
    3:4}
sum(d0)

4

In [51]:
d01={2:1,
     4:3}
sum(d01)

6

In [52]:
d1 = {'Ram':25,
      'Raheem':30,
      'Robert':35}
'Ram':25 in d1

SyntaxError: illegal target for annotation (3288703752.py, line 4)

In [55]:
d1 = {'Ram':25,
      'Raheem':30,
      'Robert':35}
'Ram' in d1

True

In [58]:
for i in d1:
    print(i)

Ram
Raheem
Robert

In [61]:
d1 = {'Ram':25,
      'Raheem':30,
      'Robert':35}
d1[0]

KeyError: 0

In [62]:
d1 = {'Ram':25,
      'Raheem':30,
      'Robert':35}
d1['Ram']

25

In [65]:
for i in d1:
    print(i,d1[i])

Ram 25
Raheem 30
Robert 35

In [64]:
for i in d1:
    print("The age of {} is {}".format(i,d1[i]))

The age of Ram is 25
The age of Raheem is 30
The age of Robert is 35

In [69]:
for i in range(len(d1)):
    print(i)
    #print(i,d1[i])

0
1
2

**Creating an empty dictionary and update**

In [71]:
s = ''
for i in 'apple':
    s = s + i
print(s)

apple

In [76]:
l = [i for i in range(10)]
print(l)

l =[]
for i in range(10):
    l.append(i)
    print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
d1={}
d1['fruit']='Apple'
d1

{'fruit': 'Apple'}

In [79]:
d2={}
d2[[1,3,7]]='odd'
d2

TypeError: unhashable type: 'list'

In [ ]:
# WAP create a dictionary based on 2 lits
# names=['ram','rahem','robert']
# age=[25,30,35]

In [90]:
names=['Ram','Raheem','Robert']
age=[25,30,35]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [91]:
for i in range(len(names)):
    dict1[names[i]]=age[i]
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [93]:
dict1={names[i]:age[i] for i in range(len(names))}
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [95]:
dict1={names:age for names,age in zip(names,age)}
names[0],age[0]

('Ram', 25)

In [ ]:
# wAp take 5 random numbers
# and creatw a dictionary with even or odd
# output: {'even':[20,22],'odd':[18,21,23]}

In [103]:
import random
dict1={}
e_list=[]
o_list=[]
for i in range(5):
    num = random.randint(1,50)
    print(num)
    if num%2==0:
        e_list.append(num)
    else:
        o_list.append(num)
dict1['even']=e_list
dict1['odd']=o_list
print("Output:",dict1)

5
1
34
10
4
Output: {'even': [34, 10, 4], 'odd': [5, 1]}

In [104]:
import random
num = [random.randint(1,30) for i in range(5)]
output = {'even':[],'odd':[]}
for i in num:
    if i%2==0:
        output['even'].append(i)
    else:
        output['odd'].append(i)
print("Numbers:",num)
print("Output:",output)

Numbers: [21, 20, 10, 25, 3]
Output: {'even': [20, 10], 'odd': [21, 25, 3]}